.container {
  display: grid;
  grid-template-columns: 300px 10fr;
  grid-template-rows: 70px 2fr 50px;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar footer";
  gap: 10px;
  position: relative;
}

.header {
  grid-area: header;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.438);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
}
.header-menu {
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.img-prof {
  background-color: #348cff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.sidebar {
  grid-area: sidebar;
  background-color: #0061e2;
  padding: 10px;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 40px;
  width: 300px;
  border-radius: 9px;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.438);
}

.content {
  grid-area: content;
  border-radius: 9px;
  padding: 10px;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.438);
}
.fa {
  color: white;
  font-size: 30px;
}
.btns {
  display: flex;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th:nth-child(3),
td:nth-child(3) {
  width: 100px;
  text-align: center;
}

.btns {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.form > button {
  background-color: #0061e2;
  color: white;
  padding: 5px 10px;
  width: 40%;
  border-radius: 10px;
  margin: 0 auto;
  font-size: clamp(12px, 1.4vw, 18px);
  transition: transform 500ms, box-shadow 500ms;
}
.form > button:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 10px rgba(0, 98, 226, 0.6);
}
.form > button:active {
  transform: scale(1.01);
  background-color: #348cff;
}
.list > li > a {
  color: rgb(255, 255, 255);
}
.b-block > a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.fa-long-arrow-left {
  font-size: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.b-block {
  margin-top: auto;
  padding: 10px;
}

.back > a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.back:hover {
  text-decoration: none;
}
.list li a:hover {
  text-decoration: none;
}

.list li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transform: translateX(0);
  transition: transform 300ms, box-shadow 300ms;
}

.list li i {
  margin-right: 10px;
  font-size: 18px;
}

.list li:hover {
  background-color: #3366ff;
  border-radius: 5px;
  transform: translateX(-10px);
  box-shadow: 5px 5px 10px #011d70;
}
.b-block i {
  transform: translateX(0px);
  transition: transform 300ms;
}
.b-block a:hover i {
  transform: translateX(-10px);
}
.content > h1 {
  color: #0061e2;
}
.fa-sign-out {
  color: #0061e2;
}
canvas#teachersChart {
  display: block;
  margin: 20px auto;
  max-width: 500px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}
canvas#departmentsChart {
  display: block;
  margin: 20px auto;
  max-width: 500px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}
canvas#universityChart {
  display: block;
  margin: 20px auto;
  max-width: 500px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}
.graphic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}
body {
  margin: 0;
  padding: 40px;
  height: 100%;
}
.delete{
  background-color: red;
  transition: background-color 300ms;
}
.delete:hover{
  background-color: rgb(206, 0, 0);
}
.role{
  margin-left: 30px;
  font-weight: bold;
}
.form{
  max-width: 600px;
}